{% load static %}

<footer class="footer col-12" style="height:320px;">
    <div class="container col-10">
        <div class="about-us " data-aos="fade-right" data-aos-delay="200" >
            <h2>A propos</h2>
            <p>Bienvenue sur notre site de campingBenin! Nous sommes une entreprise familiale qui propose des terrains de camping</p>
        </div>
        <div class="follow col-8" data-aos="fade-left" data-aos-delay="200">
            <h2>Suivez-nous</h2>
            <p>Soyons Sociaux</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h6 class="text-gray">
          &copy; 2023 It-Services&Solutions.com - Tous droits réservés
        </h6>
    </div>
    
</footer>